*   female,negative,ASY,N,DOWN:0
*   male,positive,NAP,NORMAL,LVH,Y,FLAT: 1
*   ATA,ST,UP:2
*   TA:3

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
import pandas as pd
data = pd.read_csv('/content/heart.csv')

In [ ]:
data.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

In [ ]:
label = LabelEncoder()

In [ ]:
gender = label.fit_transform(data.Sex)

In [ ]:
data['gender']= gender

In [ ]:
data.head()

   Age Sex ChestPainType  RestingBP  ...  Oldpeak  ST_Slope HeartDisease  gender
0   40   M           ATA        140  ...      0.0        Up            0       1
1   49   F           NAP        160  ...      1.0      Flat            1       0
2   37   M           ATA        130  ...      0.0        Up            0       1
3   48   F           ASY        138  ...      1.5      Flat            1       0
4   54   M           NAP        150  ...      0.0        Up            0       1

[5 rows x 13 columns]

In [ ]:
data.head()

   Age Sex ChestPainType  RestingBP  ...  Oldpeak  ST_Slope HeartDisease  gender
0   40   M           ATA        140  ...      0.0        Up            0       1
1   49   F           NAP        160  ...      1.0      Flat            1       0
2   37   M           ATA        130  ...      0.0        Up            0       1
3   48   F           ASY        138  ...      1.5      Flat            1       0
4   54   M           NAP        150  ...      0.0        Up            0       1

[5 rows x 13 columns]

In [ ]:
chestPain_Type=label.fit_transform(data.ChestPainType)

In [ ]:
data['chestPain_Type']= chestPain_Type

In [ ]:
data.head()

   Age Sex ChestPainType  ...  HeartDisease  gender  chestPain_Type
0   40   M           ATA  ...             0       1               1
1   49   F           NAP  ...             1       0               2
2   37   M           ATA  ...             0       1               1
3   48   F           ASY  ...             1       0               0
4   54   M           NAP  ...             0       1               2

[5 rows x 14 columns]

In [ ]:
data['ST_Slope'].value_counts()

Flat    460
Up      395
Down     63
Name: ST_Slope, dtype: int64

In [ ]:
data['ECG_RESTING'] = label.fit_transform(data.RestingECG)
data['Exercise_Angina'] = label.fit_transform(data.ExerciseAngina)
data['St_Slope']= label.fit_transform(data.ST_Slope)

In [ ]:
data.head()

   Age Sex ChestPainType  ...  ECG_RESTING  Exercise_Angina  St_Slope
0   40   M           ATA  ...            1                0         2
1   49   F           NAP  ...            1                0         1
2   37   M           ATA  ...            2                0         2
3   48   F           ASY  ...            1                1         1
4   54   M           NAP  ...            1                0         2

[5 rows x 17 columns]

In [ ]:
X = data.drop(["Sex",'ChestPainType','RestingECG','ExerciseAngina','ST_Slope'] ,axis=1)

In [ ]:
X.head()

   Age  RestingBP  Cholesterol  ...  ECG_RESTING  Exercise_Angina  St_Slope
0   40        140          289  ...            1                0         2
1   49        160          180  ...            1                0         1
2   37        130          283  ...            2                0         2
3   48        138          214  ...            1                1         1
4   54        150          195  ...            1                0         2

[5 rows x 12 columns]

In [ ]:
Y= data['HeartDisease']

In [ ]:
X_Train , X_Test, Y_Train, Y_Test = train_test_split(X,Y, test_size=0.2, random_state=2, stratify = Y)

In [ ]:
from sklearn import svm
model = svm.SVC()

In [ ]:
model.fit(X_Train, Y_Train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
pred = model.predict(X_Train)
accuracy = accuracy_score(pred, Y_Train)
print(accuracy)

0.7247956403269755